*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1;
    margin: 0rem;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

/*Grundeinstellungen header, Hintergrundfarbe, Schriftart...position fixed und z-index */
header {
    background-color:  rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 170px;
    z-index: 1;
}

/* Name stylen und anordnen */
.human{
    position: relative;
    height: 1920px;
    width:1080px; 
}
/* Logo anordnen */

/* Hauptteil stylen */
main{
    background-color: #D3D3D3;
}


/* nav im footer stylen, anpassen */

@media only screen and (max-width: 768px){

    .human{
        position: relative;
        height: 100%;
        width: 100%; 
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .human{
        position: relative;
        height: 1024px;
        width: 768px; 
    }
    main{
        overflow: auto;
        background-color: #D3D3D3;
    }


}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .human{
        position: relative;
        height: 100%;
        width: 100%; 
    }
}
